@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'NanumSquareNeo-Variable', sans-serif;
}

a {
  color: black;
  display: block;
}

.logo-wrap {
  width: 100%;
  height: 200px;
  background-color: #ffc045;
  display: flex;
  justify-content: center;
}

.logo-wrap img {
}

.error-title-text {
  font-size: 13px;
  color: red;
  line-height: 1.25rem;
}

.error-text {
  font-size: 12px;
  color: red;
  line-height: 1.25rem;
}

.main-title-text {
  font-size: 18px;
  font-weight: bold;
}

.title-text {
  font-size: 15px;
  font-weight: bold;
}

.list-text {
  font-size: 14px;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  display: block;
}

.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**React - Quill*/

.readonly-quill .ql-container.ql-snow.ql-disabled {
  margin: 12px 0;
  font-size: 14px;
  border: none;
}

.readonly-quill .ql-container.ql-snow.ql-disabled .ql-editor {
  padding: 0;
}

.ql-bubble:not(.ql-disabled) {
  border: 1px solid #ccc;

  & .ql-editor::-webkit-scrollbar {
    width: 6px;
  }

  & .ql-editor::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #eeeeee;
  }

  & .ql-editor::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #d3d3d3;
  }
}

.ql-bubble .ql-tooltip {
  display: none;
}

/**SVG ANIMATE UP AND DOWN**/

.animation-like {
  animation: like 1s;
}

@keyframes like {
  33% {
    scale: 1.2;
    transform: rotate(15deg);
  }

  66% {
    scale: 1.2;
    transform: rotate(-15deg);
  }

  100% {
    scale: 1;
    transform: rotate(0deg);
  }
}

.like-on {
  animation: cLike 0.4s;
}

@keyframes cLike {
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.rank-1,
.rank-2,
.rank-3 {
  width: 22px;
  height: 22px;
  border-radius: 100%;
}

.rank-1 {
  background: linear-gradient(135deg, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%);
}

.rank-2 {
  background: linear-gradient(135deg, #e6e6e6 0%, #d9d9d9 50%, #cbcbcb 51%, #dddddd 100%);
}

.rank-3 {
  background: linear-gradient(135deg, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%);
}
