@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  display: block;
}

.error-title-text {
  font-size: 13px;
  color: red;
  line-height: 1.25rem;
}

.error-text {
  font-size: 12px;
  color: red;
  line-height: 1.25rem;
}

.main-title-text {
  font-size: 18px;
  font-weight: bold;
}

.title-text {
  font-size: 15px;
  font-weight: bold;
}

.list-text {
  font-size: 14px;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  display: block;
}

.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**React - Quill*/

.readonly-quill .ql-container.ql-snow.ql-disabled {
  margin: 12px 0;
  font-size: 14px;
  border: none;
}

.readonly-quill .ql-container.ql-snow.ql-disabled .ql-editor {
  padding: 0;
}

/**SVG ANIMATE UP AND DOWN**/

.animate-up,
.animate-down,
.animate-up > svg,
.animate-down > svg {
  cursor: pointer;
  transition: 0.2s;
}

.animate-up:hover,
.animate-down:hover {
  color: #ffc045;
}

div.animate-up:hover > svg,
svg.animate-up:hover {
  transform: translate(0, -2px);
}

div.animate-down:hover > svg,
svg.animate-down:hover {
  transform: translate(0, 2px);
}
