@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  display: block;
}

.error-title-text {
  font-size: 13px;
  color: red;
  line-height: 1.25rem;
}

.error-text {
  font-size: 12px;
  color: red;
  line-height: 1.25rem;
}

.main-title-text {
  font-size: 18px;
  font-weight: bold;
}

.title-text {
  font-size: 15px;
  font-weight: bold;
}

.list-text {
  font-size: 14px;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  display: block;
}

.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**React - Quill*/

.readonly-quill .ql-container.ql-snow.ql-disabled {
  margin: 12px 0;
  font-size: 14px;
  border: none;
}

.readonly-quill .ql-container.ql-snow.ql-disabled .ql-editor {
  padding: 0;
}

/**SVG ANIMATE UP AND DOWN**/

.animation-like {
  animation: like 1s;
}

@keyframes like {
  33% {
    scale: 1.2;
    transform: rotate(15deg);
  }

  66% {
    scale: 1.2;
    transform: rotate(-15deg);
  }

  100% {
    scale: 1;
    transform: rotate(0deg);
  }
}

/**TUI**/

.toastui-editor-toolbar:has(.toastui-editor-toolbar-group[style='display: none;']) {
  display: none;
}

.toastui-editor-defaultUI .ProseMirror {
  padding: 12px 16px 0;
}
